body, html {
	margin: 0px; padding: 0px;
	line-height: 15px;
	font-size: 12px;
	font-family: verdana, sans-serif;
	background-color: darkturquoise; color: dimgray;
	/* for center column */
	height: 100%; 
  text-align: center; /* for IE7 */
}

#wrapper {
	width: 800px; /* 932 + 28 */
	margin: 0 auto;
	text-align: left;
	background-color: white;
	padding: 20px;
}