<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/content.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="author" content="Mickael Riga">
</head>
<body>
	<div id='wrapper' class='wikistyle'>{{ content }}</div>
</body>
</html>